.react {
  margin-left: 40px;
}

.fab, [class^=devicon-] {
  font-size: 120px;
}

.icon {
  margin: 40px;
}

.skills {
  margin-left: 275px;
}

.moreskills{
  margin-left: 120px;
}

h1{
  text-align: center;
}

.backgroundPic {
  background-image: url('../img/techbackgroundpic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

pre > h1 {
  margin-top: 130px;
}
