.react {
  margin-left: 40px;
}

.fab, [class^=devicon-] {
  font-size: 120px;
}

.icon {
  margin: 40px;
}

.skills {
  margin-left: 275px;
}

.moreskills{
  margin-left: 120px;
}

h1{
  text-align: center;
}

.backgroundPic {
  background-image: url('../img/techbackgroundpic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

pre > h1 {
  margin-top: 130px;
}

.introPhoto {
background-image: url('../img/me.jpg');
background-size: contain;
background-repeat: no-repeat;
width: 500px;
height: 300px;
}

.emailLink, .resume {
  color: black;
  /* margin-top: 10px; */
}

.linkedInLink {
  color: #0e76a8;
}

.gitHubLink {
  color: black;
}

.gitHubLink:hover, .linkedInLink:hover {
  transform: scale(1.1);
}

.backgroundIntro {
  margin-top: 120px;
}

[class*="js-square"] {
 color: #f0db4f;
}

[class*="html5"] {
 color: #e54d26;
}

[class*="css3-alt"] {
 color: #3d8fc6;
}

[class*="fa-bootstrap"] {
 color: #59407f;
}

[class*="fa-php"] {
 color: #6181b6;
}

[class*="fa-react"] {
 color: #61dafb;
}

[class*="mysql-plain"] {
 color: #217598;
}

[class*="jquery-plain"] {
 color: #0968ac;
}

.project {
  background-color: #a29dd7;
  width: 18rem;
}

.projImage {
  margin: 5px auto 0px auto;
  width: 16rem;
  height: 150px;

}

.holidaySales {
background-image: url('../img/hslandingpage.JPG');
background-repeat: no-repeat;
background-size: contain;
}

a > ul {
  color:black;
}

a:hover {
  color: none !important;
  text-decoration: none !important;
}

.oneSize {
  width: 16rem;
}

.lionkingmemorymatch {
background-image: url('../img/memory-match-preview.gif');
background-repeat: no-repeat;
background-size: contain;
}

.prov {
background-image: url('../img/provlandingpage.JPG');
background-repeat: no-repeat;
background-size: contain;
}

.margin {
  margin-top: 60px;
}
